{% extends 'base.html' %}
{% block title %}Страница статьи{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='articlestyle.css') }}">
    <div class="article-container">
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>
    <p><strong>Автор:</strong> {{ author.name }}</p>
    <h3>Комментарии:</h3>
    {% if comments %}
        <ul>
            {% for comment in comments %}
                <li>
                    <strong>{{comment.user.name}}:</strong> {{comment.content}}
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>Комментариев пока нет</p>
        {% endif %}

    <a class ="back-to-home" href="{{ url_for('home') }}">Вернуться на главную</a>

    {% if 'account_id' in session %}
        <h4>Добавьте комментарий:</h4>
        <form method="POST">
            <textarea name="content" required></textarea><br><br>
            <button type="submit">Добавить комментарий</button>
        </form>
    {% else %}
        <p>Для добавления комментариев необходимо <a href="{{ url_for(login)}}"></a></p>
    {% endif %}
</div>
{% endblock %}